/* Application wide styles */

ScrollPane {
    -fx-padding: 10 10 10 10;
}

/* limit textfield size */
TextField {
    -fx-width: 20px;
    -fx-max-width: 50px;
}

.infoText {
    -fx-max-width: 600px;
}

.tableLabel {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}